.all-categories-page{
    position: relative;
    .header-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left-content{
            display: flex;
            align-items: center;
            >p:nth-child(1){
                padding-right: 20px;
                font-size: 20px;
                font-weight: 700;
                font-family: 'Proxima Nova Bold';
            }
            >p:nth-child(2){
                font-weight: 400;
                border-left: 1.5px solid #ededed;
                padding-left: 12px;
                >span{
                    color: #00AB6B;
                    font-size: 14px;
                    font-weight: 700;
                }
            }
        }
        .right-content{
            .ant-input-affix-wrapper{
                padding: 8px 12px;
                width: 380px;
            }
            .ant-input-affix-wrapper-focused{
                border-color: #00AB6B;
                box-shadow: none;
            }
            .ant-input-affix-wrapper:hover{
                border-color: #00AB6B;

            }
            .ant-btn{
                height: 40px;
                margin-left: 20px;
                width: 135px;
                background-color: #00AB6B;
                border-radius: 4px;
                border-color: #00AB6B;
                align-items: center;
                .btn-wrapper{
                    font-family: 'Proxima Nova Bold';
                    display: flex;
                    align-items: center;
                    >svg{
                        margin-right: 6px;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
    .content-wrapper{
        margin-top: 20px;
        .ant-pagination{
            display: none;
        }
        .ant-table-body{
            max-height: calc(100vh - 370px) !important;
        }
        .ant-table-container{
            border: 1px solid #ededed;
            border-radius: 4px;
        }
        .ant-table-tbody{
            >tr:last-child{
                >td{
                    border-bottom: none !important;
                }
            }
        }
        .ant-table-thead > tr > th{
            font-weight: 700;
            font-family: 'Proxima Nova Bold';
        }
        .figma-link-tag{
            background-color: #E6F7F0;
            color: #005032;
            font-family: 'Proxima Nova Bold';
            font-size: 10px;
            width: 73px;
            height: 24px;
            border-radius: 20px;
            border: none;
        }
        .action-btn{
            background-color: transparent;
            border: none;
            box-shadow: none !important;
            
        }
        
    }
}



.ant-popover-arrow{
    display: none !important;
}
.ant-popover-inner-content{
    width: 122px !important;
    padding: 8px 0px !important;   
}
.ant-popover-inner{
    position: absolute;
    left: -95px;
    top: -44px;
}
.pop-over-wrapper{
    .content{
        display: flex;
        cursor: pointer;
        padding: 0px 20px;
        align-items: center;
        >p{
            margin-top: 14px;
            margin-left: 10px;
        }
    }
    .content:hover{
        background-color: #EBF8F3;
        >p{
            font-family: 'Proxima Nova Bold';
            color: #00AB6B;
        }
        >svg >path{
            stroke: #00AB6B;
        }
    }
}

.add-new-task{
    width: 755px !important;
    height: 668px !important;
    top: 70px !important;
    .ant-modal-header{
        padding: 40px 40px 0px ;
        border-bottom: none;
        .ant-modal-title{
            font-family: 'Proxima Nova Bold';
            font-size: 20px;
        }
    }
    .ant-modal-close-x{
        display: none;
    }
    .ant-modal-body{
        padding: 27px 40px;
        .ant-select-selector{
            height: 40px !important;
            padding: 4px 11px !important;
            border-radius: 4px !important;
            box-shadow: none !important;
        }
        .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector{
            border-color: #00AB6B !important;
        }
        .ant-select:not(.ant-select-disabled):hover .ant-select-selector{
            border-color: #00AB6B !important;
        }
        .ant-input{
            height: 40px !important;
            padding: 4px 11px !important;
            border-radius: 4px !important;
            box-shadow: none !important;
        }
        .ant-input:hover{
            border-color: #00AB6B !important;
        }
        .ant-input:focus{
            border-color: #00AB6B !important;

        }
        .split-row{
            display: flex;
            width: 100%;
            .ant-row{
                width: 50%;
                display: flex;
                flex-direction: column;
                .ant-form-item-label{
                    text-align: left;
                    font-family: 'Proxima Nova Bold';
                    font-size: 14px;
                    >label::after{
                        display: none;
                    }
                }
            }
            .ant-row:nth-child(2){
                margin-left: 20px;
            }
        }
        .full-row{
            width: 100%;
            .ant-row{
                display: flex;
                flex-direction: column;
                .ant-form-item-label{
                    text-align: left;
                    font-family: 'Proxima Nova Bold';
                    font-size: 14px;
                    >label::after{
                        display: none;
                    }
                }
                
            }
            .ant-row:nth-child(2){
                margin-left: 20px;
            }
        }
        .footer{
            display: flex;
            justify-content: flex-end;
            >button{
                width: 127px;
                height: 40px;
                border-radius: 4px;
                font-family: 'Proxima Nova Bold';

            }
            .cancel-btn{
                background-color: #ffff;
                border-color: #ededed;
                color: black;
            }
            .add-btn{
                background-color: #00AB6B;
                border-color: #00AB6B;
                color: #ffff;
                margin-left: 12px;
            }
        }
    }
}

.add-new-task.editable{
    .ant-select-selection-placeholder{
        color: black !important;
    }
    .ant-input::placeholder{
        color: black !important;
    }
}