.all-categories-page {
  position: relative;
}

.all-categories-page .header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.all-categories-page .header-wrapper .left-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.all-categories-page .header-wrapper .left-content > p:nth-child(1) {
  padding-right: 20px;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Proxima Nova Bold';
}

.all-categories-page .header-wrapper .left-content > p:nth-child(2) {
  font-weight: 400;
  border-left: 1.5px solid #ededed;
  padding-left: 12px;
}

.all-categories-page .header-wrapper .left-content > p:nth-child(2) > span {
  color: #00AB6B;
  font-size: 14px;
  font-weight: 700;
}

.all-categories-page .header-wrapper .right-content .ant-input-affix-wrapper {
  padding: 8px 12px;
  width: 380px;
}

.all-categories-page .header-wrapper .right-content .ant-input-affix-wrapper-focused {
  border-color: #00AB6B;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.all-categories-page .header-wrapper .right-content .ant-input-affix-wrapper:hover {
  border-color: #00AB6B;
}

.all-categories-page .header-wrapper .right-content .ant-btn {
  height: 40px;
  margin-left: 20px;
  width: 135px;
  background-color: #00AB6B;
  border-radius: 4px;
  border-color: #00AB6B;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.all-categories-page .header-wrapper .right-content .ant-btn .btn-wrapper {
  font-family: 'Proxima Nova Bold';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.all-categories-page .header-wrapper .right-content .ant-btn .btn-wrapper > svg {
  margin-right: 6px;
  margin-left: 10px;
}

.all-categories-page .content-wrapper {
  margin-top: 20px;
}

.all-categories-page .content-wrapper .ant-pagination {
  display: none;
}

.all-categories-page .content-wrapper .ant-table-body {
  max-height: calc(100vh - 370px) !important;
}

.all-categories-page .content-wrapper .ant-table-container {
  border: 1px solid #ededed;
  border-radius: 4px;
}

.all-categories-page .content-wrapper .ant-table-tbody > tr:last-child > td {
  border-bottom: none !important;
}

.all-categories-page .content-wrapper .ant-table-thead > tr > th {
  font-weight: 700;
  font-family: 'Proxima Nova Bold';
}

.all-categories-page .content-wrapper .figma-link-tag {
  background-color: #E6F7F0;
  color: #005032;
  font-family: 'Proxima Nova Bold';
  font-size: 10px;
  width: 73px;
  height: 24px;
  border-radius: 20px;
  border: none;
}

.all-categories-page .content-wrapper .action-btn {
  background-color: transparent;
  border: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.ant-popover-arrow {
  display: none !important;
}

.ant-popover-inner-content {
  width: 122px !important;
  padding: 8px 0px !important;
}

.ant-popover-inner {
  position: absolute;
  left: -95px;
  top: -44px;
}

.pop-over-wrapper .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  padding: 0px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pop-over-wrapper .content > p {
  margin-top: 14px;
  margin-left: 10px;
}

.pop-over-wrapper .content:hover {
  background-color: #EBF8F3;
}

.pop-over-wrapper .content:hover > p {
  font-family: 'Proxima Nova Bold';
  color: #00AB6B;
}

.pop-over-wrapper .content:hover > svg > path {
  stroke: #00AB6B;
}

.add-new-task {
  width: 755px !important;
  height: 668px !important;
  top: 70px !important;
}

.add-new-task .ant-modal-header {
  padding: 40px 40px 0px;
  border-bottom: none;
}

.add-new-task .ant-modal-header .ant-modal-title {
  font-family: 'Proxima Nova Bold';
  font-size: 20px;
}

.add-new-task .ant-modal-close-x {
  display: none;
}

.add-new-task .ant-modal-body {
  padding: 27px 40px;
}

.add-new-task .ant-modal-body .ant-select-selector {
  height: 40px !important;
  padding: 4px 11px !important;
  border-radius: 4px !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.add-new-task .ant-modal-body .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-color: #00AB6B !important;
}

.add-new-task .ant-modal-body .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border-color: #00AB6B !important;
}

.add-new-task .ant-modal-body .ant-input {
  height: 40px !important;
  padding: 4px 11px !important;
  border-radius: 4px !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.add-new-task .ant-modal-body .ant-input:hover {
  border-color: #00AB6B !important;
}

.add-new-task .ant-modal-body .ant-input:focus {
  border-color: #00AB6B !important;
}

.add-new-task .ant-modal-body .split-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.add-new-task .ant-modal-body .split-row .ant-row {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.add-new-task .ant-modal-body .split-row .ant-row .ant-form-item-label {
  text-align: left;
  font-family: 'Proxima Nova Bold';
  font-size: 14px;
}

.add-new-task .ant-modal-body .split-row .ant-row .ant-form-item-label > label::after {
  display: none;
}

.add-new-task .ant-modal-body .split-row .ant-row:nth-child(2) {
  margin-left: 20px;
}

.add-new-task .ant-modal-body .full-row {
  width: 100%;
}

.add-new-task .ant-modal-body .full-row .ant-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.add-new-task .ant-modal-body .full-row .ant-row .ant-form-item-label {
  text-align: left;
  font-family: 'Proxima Nova Bold';
  font-size: 14px;
}

.add-new-task .ant-modal-body .full-row .ant-row .ant-form-item-label > label::after {
  display: none;
}

.add-new-task .ant-modal-body .full-row .ant-row:nth-child(2) {
  margin-left: 20px;
}

.add-new-task .ant-modal-body .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.add-new-task .ant-modal-body .footer > button {
  width: 127px;
  height: 40px;
  border-radius: 4px;
  font-family: 'Proxima Nova Bold';
}

.add-new-task .ant-modal-body .footer .cancel-btn {
  background-color: #ffff;
  border-color: #ededed;
  color: black;
}

.add-new-task .ant-modal-body .footer .add-btn {
  background-color: #00AB6B;
  border-color: #00AB6B;
  color: #ffff;
  margin-left: 12px;
}

.add-new-task.editable .ant-select-selection-placeholder {
  color: black !important;
}

.add-new-task.editable .ant-input::-webkit-input-placeholder {
  color: black !important;
}

.add-new-task.editable .ant-input:-ms-input-placeholder {
  color: black !important;
}

.add-new-task.editable .ant-input::-ms-input-placeholder {
  color: black !important;
}

.add-new-task.editable .ant-input::placeholder {
  color: black !important;
}
/*# sourceMappingURL=AllCategories.css.map */