.sign-in-page {
  overflow: hidden;
}

.sign-in-page .header-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 60px;
  height: 90px;
}

.sign-in-page .header-page > p {
  font-family: 'Proxima Nova Bold';
  font-size: 18px;
  padding-top: 18px;
  margin-left: 12px;
}

.sign-in-page .footer-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 60px;
  height: 113px;
}

.sign-in-page .footer-page > p:nth-child(1) {
  font-family: 'Proxima Nova Bold';
  font-size: 21px;
  padding-top: 18px;
  margin-left: 12px;
  margin-bottom: 8px;
}

.sign-in-page .footer-page > p:nth-child(2) {
  font-size: 16px;
  color: #969696;
}

.sign-in-page .content-page {
  height: calc(100vh - 205px);
  background: url("../../asset/Background.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sign-in-page .content-page .card-wrapper {
  width: 452px;
  background: #ffff;
  padding: 43px 40px;
  border-radius: 40px;
}

.sign-in-page .content-page .card-wrapper .card-title > p:nth-child(1) {
  font-family: 'Proxima Nova Bold';
  font-size: 34px;
  text-align: center;
  margin-bottom: 6px;
}

.sign-in-page .content-page .card-wrapper .card-title > p:nth-child(2) {
  font-size: 14px;
  padding: 0px 2px;
}

.sign-in-page .content-page .card-wrapper .card-form {
  margin-top: 32px;
}

.sign-in-page .content-page .card-wrapper .card-form .input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sign-in-page .content-page .card-wrapper .card-form .input-wrapper > p {
  font-family: 'Proxima Nova Bold';
  font-size: 12px;
}

.sign-in-page .content-page .card-wrapper .card-form .input-wrapper .ant-input {
  border: none;
  border-bottom: 1px solid #ededed;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 4px 0px;
  margin-bottom: 20px;
}

.sign-in-page .content-page .card-wrapper .card-form .switch-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sign-in-page .content-page .card-wrapper .card-form .switch-wrapper > p {
  margin-left: 12px;
  font-family: 'Proxima Nova Bold';
  color: #00AB6B;
  font-size: 12px;
  padding-top: 1px;
}

.sign-in-page .content-page .card-wrapper .card-form .button-wrapper {
  margin-top: 12px;
}

.sign-in-page .content-page .card-wrapper .card-form .button-wrapper .top-btn {
  width: 100%;
  background: #00AB6B;
  height: 44px;
  border-radius: 4px;
  border-color: #00AB6B;
  color: #ffff;
  font-family: 'Proxima Nova Bold';
}

.sign-in-page .content-page .card-wrapper .card-form .button-wrapper .ant-btn:hover {
  border-color: #00AB6B;
}
/*# sourceMappingURL=SignIn.css.map */