.sign-in-page{
    overflow: hidden;
    .header-page{
        display: flex;
        align-items: center;
        margin: 0px 60px;
        height: 90px;
        >p{
            font-family: 'Proxima Nova Bold';
            font-size: 18px;
            padding-top: 18px;
            margin-left: 12px;
        }
    }
    .footer-page{
        display: flex;
        flex-direction: column;
        margin: 0px 60px;
        height: 113px;
        >p:nth-child(1){
            font-family: 'Proxima Nova Bold';
            font-size: 21px;
            padding-top: 18px;
            margin-left: 12px;
            margin-bottom: 8px;
        }
        >p:nth-child(2){
            font-size: 16px;
            color: #969696;
        }
    }
    .content-page{
        height: calc(100vh - 205px);
        background: url('../../asset/Background.png');
        display: flex;
        justify-content: center;
        align-items: center;
        .card-wrapper{
            width: 452px;
            background: #ffff;

            padding: 43px 40px;
            border-radius: 40px;
            .card-title{
                >p:nth-child(1){
                    font-family: 'Proxima Nova Bold';
                    font-size: 34px;
                    text-align: center;
                    margin-bottom: 6px;
                }
                >p:nth-child(2){
                    font-size: 14px;
                    padding: 0px 2px;
                }
            }
            .card-form{
                margin-top: 32px;
                .input-wrapper{
                    display: flex;
                    flex-direction: column;
                    >p{
                        font-family: 'Proxima Nova Bold';
                        font-size: 12px;
                    }
                    .ant-input{
                        border: none;
                        border-bottom: 1px solid #ededed;
                        box-shadow: none;
                        padding: 4px 0px;
                        margin-bottom: 20px;
                    }
                }
                .switch-wrapper{
                    display: flex;
                    >p{
                        margin-left: 12px;
                        font-family: 'Proxima Nova Bold';
                        color: #00AB6B;
                        font-size: 12px;
                        padding-top: 1px;
                    }
                }
                .button-wrapper{
                    margin-top: 12px;
                    .top-btn{
                        width: 100%;
                        background: #00AB6B;
                        height: 44px;
                        border-radius: 4px;
                        border-color: #00AB6B;
                        color: #ffff;
                        font-family: 'Proxima Nova Bold';
                    }
                    .ant-btn:hover{
                        border-color: #00AB6B;
                    }
                }
            }
        }
    }

}