.ant-layout{
    .ant-layout-header{
        .header-wrapper{
            display: flex;
            justify-content: flex-end;
            .ant-dropdown-trigger{
                margin-left: 8px;
                display: flex;
                align-items: center;
                color: #1F384C;
                >span{
                    font-weight: 800;
                    margin-left: 3px;
                    margin-right: 4px;
                }
            }
        }
    }
    .ant-layout-sider{
        position: fixed;
        height: 100%;
    }
    .web-documentation-content-wrapper{
        height: calc(100vh - 64px);
        background-color: #ffff;
        .web-documentation-content{
            margin: 37px 25px 20px 285px;
            padding: 24px;
            border: 1px solid #ededed;
            border-radius: 4px;
            overflow: auto;
        }
        .web-documentation-content.collapse{
            margin: 37px 25px 20px 105px;
        
        }

    }
    .ant-spin{
        .ant-spin-dot-item{
            background-color: #0BA16B !important;
        }
    }
    .web-documentation-header{
        background: #ffff;
        margin-left: 200px;
    }
    .web-documentation-header.collapse{
        margin-left: 60px;
    }
    .sider-trigger{
        background: transparent;
    }
    .web-documentation-sider.collapse{
        width: 80px !important;
        flex: 0 0 80px !important;
        max-width: 80px !important;
        min-width: 80px !important;
    }
    .web-documentation-sider{
        margin-top: -64px;
        background: #2A2A2A;
        flex: 0 0 250px !important;
        max-width: 250px !important;
        min-width: 250px !important;
        .ant-menu{
            background: transparent;
            padding-left: 20px;
            >li:nth-child(3){
                margin-top: 30px;
            }
            .ant-menu-item{
                display: flex;
                align-items: center;
                margin: 15px 0px;
                .ant-menu-title-content{
                    color: #969696;
                    font-size: 16px;
                }
            }
            .ant-menu-item-selected{
                background-color: #0BA16B !important;
                border-radius: 37px 0px 0px 37px;
                >span{
                    font-weight: 800;
                }
                .ant-menu-title-content{
                    color: #ffff;
                }
                >svg >path{
                    stroke: #ffff;
                }
            }
            .ant-menu-item-selected::before{
                position: absolute;
                top: 4px;
                left: 0px;
                right: 0px;
                bottom: 0;
                height: 80%;
                border-right: 0px solid #00784B !important;
                transition: transform .15s cubic-bezier(.215,.61,.355,1),opacity .15s cubic-bezier(.215,.61,.355,1);
                content: "";
            }
        }
        .web-documentation-menu{
            .menu-trigger{
                padding: 29px 0px 0px 15px;
                cursor: pointer;
            }
            .categories-title{
                padding: 60px 26px 0px;
                margin-left: -10px;
                letter-spacing: 2px;
                font-weight: 400;
            }
            .categories-title.hide{
                display: none;
            }
        }
    }
}