.ant-layout .ant-layout-header .header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.ant-layout .ant-layout-header .header-wrapper .ant-dropdown-trigger {
  margin-left: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1F384C;
}

.ant-layout .ant-layout-header .header-wrapper .ant-dropdown-trigger > span {
  font-weight: 800;
  margin-left: 3px;
  margin-right: 4px;
}

.ant-layout .ant-layout-sider {
  position: fixed;
  height: 100%;
}

.ant-layout .web-documentation-content-wrapper {
  height: calc(100vh - 64px);
  background-color: #ffff;
}

.ant-layout .web-documentation-content-wrapper .web-documentation-content {
  margin: 37px 25px 20px 285px;
  padding: 24px;
  border: 1px solid #ededed;
  border-radius: 4px;
  overflow: auto;
}

.ant-layout .web-documentation-content-wrapper .web-documentation-content.collapse {
  margin: 37px 25px 20px 105px;
}

.ant-layout .ant-spin .ant-spin-dot-item {
  background-color: #0BA16B !important;
}

.ant-layout .web-documentation-header {
  background: #ffff;
  margin-left: 200px;
}

.ant-layout .web-documentation-header.collapse {
  margin-left: 60px;
}

.ant-layout .sider-trigger {
  background: transparent;
}

.ant-layout .web-documentation-sider.collapse {
  width: 80px !important;
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 80px !important;
          flex: 0 0 80px !important;
  max-width: 80px !important;
  min-width: 80px !important;
}

.ant-layout .web-documentation-sider {
  margin-top: -64px;
  background: #2A2A2A;
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 250px !important;
          flex: 0 0 250px !important;
  max-width: 250px !important;
  min-width: 250px !important;
}

.ant-layout .web-documentation-sider .ant-menu {
  background: transparent;
  padding-left: 20px;
}

.ant-layout .web-documentation-sider .ant-menu > li:nth-child(3) {
  margin-top: 30px;
}

.ant-layout .web-documentation-sider .ant-menu .ant-menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0px;
}

.ant-layout .web-documentation-sider .ant-menu .ant-menu-item .ant-menu-title-content {
  color: #969696;
  font-size: 16px;
}

.ant-layout .web-documentation-sider .ant-menu .ant-menu-item-selected {
  background-color: #0BA16B !important;
  border-radius: 37px 0px 0px 37px;
}

.ant-layout .web-documentation-sider .ant-menu .ant-menu-item-selected > span {
  font-weight: 800;
}

.ant-layout .web-documentation-sider .ant-menu .ant-menu-item-selected .ant-menu-title-content {
  color: #ffff;
}

.ant-layout .web-documentation-sider .ant-menu .ant-menu-item-selected > svg > path {
  stroke: #ffff;
}

.ant-layout .web-documentation-sider .ant-menu .ant-menu-item-selected::before {
  position: absolute;
  top: 4px;
  left: 0px;
  right: 0px;
  bottom: 0;
  height: 80%;
  border-right: 0px solid #00784B !important;
  -webkit-transition: opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  content: "";
}

.ant-layout .web-documentation-sider .web-documentation-menu .menu-trigger {
  padding: 29px 0px 0px 15px;
  cursor: pointer;
}

.ant-layout .web-documentation-sider .web-documentation-menu .categories-title {
  padding: 60px 26px 0px;
  margin-left: -10px;
  letter-spacing: 2px;
  font-weight: 400;
}

.ant-layout .web-documentation-sider .web-documentation-menu .categories-title.hide {
  display: none;
}
/*# sourceMappingURL=App.css.map */