@font-face{
  font-family: 'Proxima Nova Rg';
  src:  url('asset/font/proximanova/ProximaNova-Regular.eot');
  src:  url('asset/font/proximanova/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('asset/font/proximanova/ProximaNova-Regular.woff') format('woff'),
        url('asset/font/proximanova/ProximaNova-Regular.ttf') format('truetype');
}

@font-face{
  font-family: 'Proxima Nova Bold';
  src:  url('asset/font/proximanova/ProximaNova-Bold.eot');
  src:  url('asset/font/proximanova/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('asset/font/proximanova/ProximaNova-Bold.woff') format('woff'),
        url('asset/font/proximanova/ProximaNova-Bold.ttf') format('truetype');
}


body {
  margin: 0;
  font-family: 'Proxima Nova Rg', 'Proxima Nova Bold' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


